{% extends 'base.html' %} }
{% block body %}
    <div class="jumbotron banner mt-3">
        <a class="btn btn-primary btn-lg" href="{% url 'ahmedlv:edit_post' post.id %}" role="button">Edit This post</a>
    </div>


        <div class="card">
         {% if post.img %}
            <img class="card-img-top" src="{{post.img.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title|safe}}</h5>
                <p class="card-text">{{ post.content|safe}}</p>

            </div>
        </div>
    </div>
{% endblock body %}
