{% extends 'base.html' %} }
{% block body %}
    <div class="jumbotron banner mt-3">
        <h2 class="text-uppercase font-weight-bold">Created by {{ post.user }}</h2>
        <h3 class="text-uppercase font-weight-bold">Created at {{ post.created }}</h3>


        {% if request.user.is_superuser %}
            <a class="btn btn-primary btn-lg" href="{% url 'ahmedlv:edit_post' post.id %}" role="button">Edit This
                post</a>
        {% endif %}
    </div>

    <div class="single_post">
        <div class="card">
            {% if post.img %}
                <img class="card-img-top" src="{{ post.img.url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title|safe }}</h5>
                <p class="card-text">{{ post.content|safe }}</p>

            </div>
        </div>
    </div>
{% endblock body %}
